<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <h1>Your random number is <%= rand %></h1>
  <h2>Your number is an <%= rand % 2 === 0 ? 'Even' : 'Odd' %> number</h2>
  <% for(let i = 0; i < 5; i++) { %>
  <h3><%= rand % 2 === 0 ? 'Even' : 'Odd' %></h3>
  <% } %>
</body>
<%- include('./partials/footer.ejs') %>
